<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/paymentstyles.css" rel="stylesheet" >
</head>
<body>


    <!-- quantity
    total price
    equipment name 
    dono hospital 
    button to proceed -->
    <div class="center">
        <div class="card">
        <form action="/paymentDetails" method="post">
                <div class="cardbody">
                  <h4><b>Hostpital Name :</b><%=hospitalName%></h4>
                  <h4><b>Equipment Name :</b><%=equipmentName%></h4>
                  <h4><b>Cost :</b><%=equipmentCost%></h4>
                  <h4><b>Quantity :</b><%=equipmentrequired%></h4>
                  <h4><b>Total Cost:</b><%=totalCost%></h4>
                  <button type="submit" name="proceed">Proceed for payment</button>
                  <button type="submit" name="back">Back</button>
                </div>
        </form> 
    </div>

    </div>

</body>
</html>